<!DOCTYPE html>
<html lang="en" ng-app="zfpxMod">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller="contactCtrl">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success" ng-show="msg">{{msg}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a ng-click="add()" class="btn btn-default">{{addContactForm?'隐藏':'添加'}}</a>

        </div>
    </div>
    <form  ng-submit="addContact()" ng-show="addContactForm">
        <h3>添加联系人</h3>
        <div class="form-group">
            <label for="username">姓名</label>
            <input ng-model="contact.username" class="form-control" type="text" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="email">邮箱</label>
            <input ng-model="contact.email" class="form-control" type="text" name="email" id="email">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="增加">
        </div>
    </form>


    <h3>你的联系人有位</h3>
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="select(item)" ng-repeat="item in contacts">
                    <td>{{item.username}}</td>
                    <td>{{item.email}}</td>
                    <td>
                        <a class="btn btn-warning" href="">编辑</a>
                        <a class="btn btn-danger"  ng-click="contacts.$remove(item)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>姓名:{{contact.username}}</h4>
                        <h4>邮箱: {{contact.email}}</h4>
                    </div>
                </div>
        </div>
    </div>

</div>



</body>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/firebase/firebase.js"></script>
<script src="../bower_components/angularfire/dist/angularfire.js"></script>
<script src="app.js"></script>
</html>