<!DOCTYPE html>
<html lang="en" ng-app="zfpxMod">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body ng-controller="zfpxCtrl" >
<div class="container">
    <table class="table table-striped">
        <tr>
            <td><input ng-checked="checkAll" ng-click="selectAll()" type="checkbox">全选</td>
            <td>商品</td>
            <td>单价(元)</td>
            <td>数量</td>
            <td>小计(元)</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="item in items">
            <td><input ng-click="selectOne(item)" ng-checked="item.selected" type="checkbox"></td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>
                <button class="btn btn-xs" ng-disabled="item.amount<=1"  ng-click="item.amount=item.amount-1">-</button>
                <input  type="text" ng-model="item.amount"><button class="btn btn-xs" ng-click="item.amount = item.amount+1">+</button>
            </td>
            <td>{{item.price * item.amount}}</td>
            <td><button class="btn btn-danger"  ng-click="remove(item)">删除</button></td>
        </tr>
        <tr>
            <td><button ng-click="delete()" class="btn btn-danger">删除选中商品</button></td>
            <td colspan="2">已选择{{itemLength()}}种商品,{{totalAmount()}}件商品</td>
            <td>总价(不含运费):{{total()|currency:'￥'}}
            </td>
            <td>折扣
                <select name="" id="" ng-model="discount">
                    <option value="{{count*0.1}}" ng-repeat="count in discounts">{{count}}折</option>
                </select>
            </td>
            <td>折后价{{total()*discount|currency:'￥'}}</td>
        </tr>
    </table>
</div>
</body>
<script src="angular.min.js"></script>
<script>
    //先定义一个模块
    angular.module('zfpxMod',[]);
    //定义控制器并给scope增加items属性
    //赋一个数组，里面放着所有的商品
    angular.module('zfpxMod').controller('zfpxCtrl',function($scope){
        //是否全选变量默认为false
        $scope.checkAll = false;
        //折扣的列表，可以打1到9折
        $scope.discounts = [9,8,7,6,5,4,3,2,1];
        $scope.itemLength = function(){
            var num=0;
            $scope.items.forEach(function(item){
                if(item.selected)
                    num++;
            })
            return num;
        }
        $scope.totalAmount = function(){
            var num=0;
            $scope.items.forEach(function(item){
                if(item.selected)
                    num+=item.amount;
            })
            return num;
        }
        //给商品列表赋初值
        $scope.items = [
            {
                name:"MacBook",//商品名称
                price:6288, //价格
                amount:1, //数量
                selected:false// 是否选中
            },
            {
                name:"Lenovo",//商品名称
                price:6799, //价格
                amount:1, //数量
                selected:false//是否选中
            }
        ]
        //删除某个商品的方法,参数为要删除的元素
        $scope.remove = function(item){
            //把数组中的每个元素依次传入function内部
            //通过返回值来判断是否保留此元素在数组中
            //true 保留 fasle不保留
            //把过滤后的新数组再赋回给$scope.items
            $scope.items = $scope.items.filter(function(current){
                //如果当前迭代到的元素不等于被删除元素的应该保留下来
                return current != item;
            })
        }
        //把items里所有的元素的selected属性设置为true
        $scope.selectAll = function(){
            if($scope.checkAll){
                $scope.items.forEach(function(item){
                    item.selected = false;
                })
            }else{
                $scope.items.forEach(function(item){
                    item.selected = true;
                })
            }
            $scope.checkAll = !$scope.checkAll;
        }
        //删除item的selected属性为true的那些元素
        $scope.delete = function(){
            //过滤删除掉那些选中的,保留未选中的
            $scope.items = $scope.items.filter(function(item){
                //如果selected为true,意味着选中了
                //如果选 中了意味着要删除
                //保留未选中的，选中状态为false
                return !item.selected;
            });
        }
        //当选中或取消选中某个商品的时候触发
        $scope.selectOne = function(item){
            //先把当前的选中状态取反
            item.selected = !item.selected;
            //获取未选中的商品的数量
            var unselectedLength = $scope.items.filter(function(item){
                return !item.selected;
            }).length;
            //如果全部选中，那么全选状态为true
            //如果至少有一个未被选中，那么全选状态为false
            $scope.checkAll = unselectedLength==0;
        }
        //获取所有选中商品的总金额
        $scope.total = function(){
            //收敛数组

           return  $scope.items.reduce(function(current,item){
                if(item.selected){
                    return current+item.amount*item.price;
                }else{
                    return current;
                }

            },0)
        }
    });
</script>
</html>