<!DOCTYPE html>
<html lang="en" ng-app="zfpxMod">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="zfpxCtrl">
    <input type="text" ng-model="name">
    <span>{{name}}</span>
</div>
<div ng-controller="zfpxCtrl">
    <input type="text" ng-model="name">
    <span>{{name}}</span>
</div>
<div ng-controller="zfpxCtrl2">

</div>
</body>
<script src="angular.min.js"></script>
<script>
    angular.module('zfpxMod',[]);
    angular.module('zfpxMod').controller('zfpxCtrl',function($scope,$timeout){
        console.log('zfpx');
        $scope.name = 'zfpx';
        $timeout.zf = 'zf';
    });
    angular.module('zfpxMod').controller('zfpxCtrl2',function($timeout){
        console.log($timeout.zf);
    });
</script>
</html>