<!DOCTYPE html>
<html lang="en" ng-app="zfpxMod">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="container" ng-controller="zfpxCtrl">
    控制中的city:{{city}}<input ng-model="city"><br/>
大师兄:<zf-input city="city"></zf-input><br/>
二师兄:<zf-input></zf-input><br/>
小师妹:<zf-input></zf-input>
</div>



</body>
<script src="bower_components/angular/angular.js"></script>
<script>
    angular.module('zfpxMod',[]);
    angular.module('zfpxMod').controller('zfpxCtrl',function($scope){
        $scope.city = '北京';
    });
    angular.module('zfpxMod').directive('zfInput',function(){
      return {
          template:'<div>{{city}}<input ng-model="city"></div>',
          replace:true,
          restrict:'E',
          //当scope为true的时候，会为这个指令派生一个私有空白的，并且与上级隔绝的scope
          scope:{
              city:'=city'//独立scope的city属性从本元素的city属性上取字面量
          },
          /*link:function(scope,element,attr){
              console.log(attr);
            scope.city = attr['city'];
          }*/
      }
    });
</script>
</html>